<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insertRecord</title>

</head>
<body>

<div id="inserRecordForm">
    <h2>添加商品</h2>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="bName">商品名:</label>
                <input type="text" class="form-control" id="bName" v-model="bName" placeholder="商品名">
            </div>
            <div class="form-group">
                <label for="explain">详细说明:</label>
                <textarea class="form-control" rows="5" id="explain" v-model="explain"></textarea>
            </div>

            <div class="form-group">
                <label for="sort">类型:</label>
                <input type="text" class="form-control" id="sort" v-model="sort" placeholder="类型，多个类型以','分割">
            </div>

            <div class="form-group">
                <label for="picture">封面:</label>
                <div style="height: 100px; width: 75px;">
                    <img src="" id="localImg" style="height: 100%; width: 100%;">
                </div>
                <input type="file" class="btn btn-info" id="picture"/>
            </div>
            <div class="form-group">
                <label for="price">价格:</label>
                <input type="number" class="form-control" id="price" v-model="price" placeholder="价格">
            </div>

            <button type="button" class="btn btn-primary" @click="SubmitInsertRecordForm()">Submit</button>
        </form>
    </div>

    <!-- 模态框 -->
    <div class="modal fade" id="message" data-toggle="modal" data-target="#message">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">提示！</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- 模态框主体 -->
                <div class="modal-body">
                    {{messageContent}}
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" >确定</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" >关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    new Vue({
        el: "#inserRecordForm",
        data: {
            bName: "",
            explain: "",
            sort: "",
            picture: "",
            price: 0.0,
            messageContent:"",
        },
        methods: {
            SubmitInsertRecordForm: function () {
                this.picture = $("#localImg").attr("src");
                alert(this.picture);
                if (this.bName == "" || this.price==0.0){
                    this.messageContent = "请填写商品名和售价！";
                    $('#message').click();
                    return;
                }
                $.post("/bookStore/addGoods",{
                    "bName":this.bName,
                    "explain":this.explain,
                    "sort":this.sort,
                    "picture":this.picture,
                    "price":this.price
                },(data) => {
                    alert(data.code);
                    if(data.code == 1){
                        this.messageContent = "商品添加成功！";
                        $('#message').click();
                        this.bName = "";
                        this.explain = "";
                        this.sort = "";
                        this.picture = null;
                        this.price = 0.0;
                    }
                });
            }
        },
        mounted: function () {
            let $img = document.getElementById('localImg');
            picture.onchange = function (e) {
                let f = e.target.files[0];
                const fr = new FileReader(f);
                fr.readAsDataURL(f);
                fr.onload = function () {
                    $img.src = this.result;
                    this.picture = this.result;
                }
            }
        },
    });

</script>

</body>

</html>